/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visuales
5. Otros
*/

:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #FAF8F7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    align-self: center;
}

.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p{
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight:500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button{
    /* position:absolute;
    left: calc(50% - 114.5px);
    top: calc(100% - 24px); */
    
    position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
    
    display: block;
    
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white) ;

    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}

main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    
}


.main-exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}


.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(./assets/img/Bitcoin.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black); 
}

.main-exchange-container p{
    margin-bottom: 40px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

/* .main-tables-container{
    
    margin: 0 auto;
    min-width: 320px;
} */


.slider, .slider li{
    padding: 0;
    margin: 0;
    list-style: none inside;
}

ul.slider{
    position: relative;
    min-height: 430px;
    width: 288px;
    margin: 0 auto;
}

ul.slider li{
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    min-width: 290px;
    
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> al que apunta el enlace*/
}

.main-tables-container::-webkit-scrollbar {
    background-color: var(--soft-orange);
    height: 3px;
}

.main-tables-container::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);
}

.table{
    display: grid;
    height: 290px;
    grid-template-columns: repeat(2, 1fr);
    
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    background-color: var(--just-white);
    margin-bottom: 30px;   
    
}

.table div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2px solid var(--off-white);
    padding: auto 11px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #B5B0AC;
    font-family: 'Inter', sans-serif;
    height: 100%;
    
}

/* .main-commissions-table,.main-currency-table{
    scroll-snap-align: center;
    
    min-width: 292px;
    height: 370px;
    margin: 0 5px 0 ;
} */



.main-tables-container .currency-table--title{
    line-height: 2.34rem;
    margin: 8px auto;
    padding: 8px;
    font-weight: 700;
    color: #FF9536;
    background-color: var(--soft-orange);
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
}

.main-tables-container .commissions-table--title{
    line-height: 2.34rem;
    margin: 8px auto;
    padding: 8px;
    font-weight: 700;
    color: var(--secondary-blue);
    background-color: var(--soft-blue);
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
 
/* ATENCION */

.tables-options{
    display: flex;
    justify-content: center;
    gap: 10px;  
}

.tables-options li{
    list-style: none;
    padding:  10px 8px;
    width: 120px;
    border-radius: 8px;
    
}

.link-currency{
    background-color: var(--soft-orange);
}

.link-commissions{
    background-color: var(--soft-blue);
}

.tables-options a{
    text-decoration: none;
    color: var(--black);
    font-size: 1.5rem;
    padding:  10px 8px;
}

.tables-options li:active{
    border: solid 1px #bababa;
}

.table .valor{
    color: #757575;
}


.down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.currency-table--date{
    border-radius: 8px;
    background-color: var(--soft-orange);
}

.commissions-table--date{
    border-radius: 8px;
    background-color: var(--soft-blue);
}

.currency-table--date p, .commissions-table--date p{
    font-family: 'Inter', sans-serif;
    line-height: 19.36px;
    color: var(--warm-black);
    padding: 8px;

}


.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    text-align: center;
    background-color: var(--warm-black);
    padding: 20px 10px;
}


.product-detail-logo{
    width: 37.45px;
    height: 24px;
    background-image: url(./assets/icons/batata.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 50%;
    transform: translate( calc(-50% - 10px) ,calc(-50% - 20px));
}

.product-detail--title{
    width: 90%;
    height: auto;
    margin: 0 auto; 
    margin-top: 50px;
}

.product-detail--title h2{
    
    color: var(--just-white);
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 20px;
    line-height: 2.6rem;
}

.product-detail--title p{
    color:#808080;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    margin-bottom: 20px;  
}

.product-details--card{
    width: 90%;
     min-width: 288px;
     max-width: 400px;
     min-height: 150px;
     background-color: #282623;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
     border-radius: 5px;
     text-align: start;
     margin: 15px auto;
     padding: 15px;
}

.product-details--card span{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 6px;
}

.product-details--card .clock{
    background-image: url(./assets/icons/clock.svg);
}

.product-details--card .eye{
    background-image: url(./assets/icons/eye.svg);
}

.product-details--card .dollar-sign{
    background-image: url(./assets/icons/dollar-sign.svg);
}

.product-details--card .check-circle{
    background-image: url(./assets/icons/check-circle.svg);
}

.product-details--card .product-card-title{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--just-white);
    margin-bottom: 7px;
    line-height: 1.8rem;
}

.product-details--card .product-card-body{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: #808080; 
}

.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(./assets/img/bitcoinbaby.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.bitcoin-img-container h2{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    display: flex;
    justify-content: center;   
    align-items: center;
    height: 100%;
}

.main-plans-container{
   background-color: var(--off-white);
   width: 100%;
   min-width: 320px;
   height: auto;
   text-align: center;
   padding-bottom: 70px;
}

.plans-container--slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity ;
    
    
}

.plans-container--slider::-webkit-scrollbar {
    background-color: var(--soft-orange);
    height: 3px;
  }
  .plans-container--slider::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);
  }

.plans-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 60%;
    min-width: 192px;
    max-width: 300px;
    min-height: 250px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0px 4px 8px #5959491E;
    margin: 50px 5px 0;

}

.plans-title{
    width: 90%;
    min-width: 280px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 35px;
}

.plans-title h2{
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--warm-black);
    line-height: 2.6rem;
    padding-top: 50px;
}

.plans-title p{
    font-size: 1.4rem;
    font-weight: 500;
    color: #757575;
    line-height: 1.8rem;
    margin-top: 30px;
}


.plan-card--message{
    position:absolute;
    
    border-radius: 8px;
    height: 31px;
    width: 101px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.452rem;
    color: var(--just-white);
    padding: 8px;
    
    left: 50%;
    transform: translate(-50%, -50%);
}

.recomendado{
    background-color: var(--bitcoin-orange);
}

.especial{
    background-color: var(--secondary-blue);
}

.basic{
    background-color:#7AEB59;
}

.plan-card--title{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 800;
    color: #000000;
    padding-top: 31px;
    padding-bottom: 8px;
}

.plan-card--price{
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 5.2rem;
    font-weight:bold;
    line-height: 6.293rem;
    color: #000000;
}

.plan-card--price span{
    font-size: 1.2rem;
    position: absolute;
    transform: translate(-14px, -12px);
}

.plan-card--saving{
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight:500;
    line-height: 1.452rem;
    color: #757575;
}

.plan-card--ca{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 151px;
    height: 48px;
    border-radius: 4px;
    padding: 15px 15px;
    background-color: var(--off-white);
    border: 2px #F7931A solid;
    margin: 0 auto;

    color: var(--warm-black);
    line-height: 1.823rem;
    font-weight: bold;
    font-size: 1.4rem;
    font-family: 'DM Sans', sans-serif;
    margin-top: 16px;
}

.button-recomendado{
    border: 2px #F7931A solid;
}

.button-especial{
    border: 2px var(--secondary-blue) solid;
}

.button-basic{
    border: 2px #7AEB59 solid;
}


.plan-card--ca span{
    display: inline-block;
    width: 24px;
    height: 24px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-especial span{
    background-image: url(./assets/icons/arrow-right_blue.svg);
}

.button-recomendado span{
    background-image: url(./assets/icons/arrow-right_orange.svg);
}

.button-basic span{
    background-image: url(./assets/icons/arrow-right_green.svg);
}

.footer{
    background-color: var(--bitcoin-orange);
    height: 150px;
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100%;
}


.redes-container, .logo-footer{
    text-align: center;
    align-self: center;
}

.redes-container p{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: var(--just-white);
    padding-bottom: 8px;
}

.redes-container a{
    text-decoration: none;
}

.logo-footer img{
    width: 60px;
    height: 60px;
}

.creditos{
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    background-color: var(--warm-black);
    color: var(--just-white);
}